* {
  padding: 0;
  margin: 0;
}
/*for nav bar*/
nav {
  background-color: #d6c1c3;
  display: flex;
  align-items: center;
  padding: 0.7%;
  font-family: Avenir Next;
}

nav img {
  height: 5em;
  width: 5em;
  margin: -1em;
  float: left;
}
nav ul {
  display: flex;
  list-style-type: none;

  margin-right: 1em;
  margin-left: 1em;
  font-family: Avenir Next;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.2em;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
}
nav ul li a {
  text-decoration: none;
  color: black;
}

nav ul li a:hover {
  color: white;
}

nav ul li {
  margin-right: 1em;
}
/*for about page*/
p.about_DFD {
  font-family: Avenir Next;
  font-style: normal;
  font-weight: bold;
  font-size: 1.7em;
  line-height: 2em;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;

  color: #000000;
}
p.about {
  width: 20em;
  height: 10em;

  font-family: Avenir Next;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5em;
  line-height: 1.4em;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;

  color: #000000;
}

div.Lbox {
  position: absolute;
  width: 32em;
  height: 32em;
  left: 60%;
  top: 10em;
  border-radius: 1em;

  background: #c1d6c6;
}

div.desc {
  position: absolute;
  left: 10%;
  top: 15em;
}
.container {
  padding: 8px;
}
/*for form*/
/*.upload-div {
  background-color: #c1d6c6;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 5% 15%;
  min-height: 30rem;
  padding-bottom: 2%;
}
.myForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
label.myLabel input[type="text"] {
  position: absolute;
  top: -100%;
  font-size: 20px;
}
.myLabel {
  border: 0.15em solid #aaa;
  border-radius: 0.3em;
  padding: 0.15em 0.35em;
  margin: 0.15em;
  background: #ddd;
  display: inline-block;
  text-align: center;
  font-size: 20px;
}
.myLabel:hover {
  background: #ccc;
}
.myLabel:active {
  background: #ccf;
}
.myLabel :invalid + span {
  color: #a44;
}
.myLabel :valid + span {
  color: #4a4;
}

div.form {
  margin: auto;
  width: 80%;
}
*/
.form h2 {
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 3em;
  display: flex;
  justify-content: center;
  letter-spacing: 0.05em;

  color: #000000;
  margin: 0.3em 0;
}
.form p {
  font-family: Avenir;
}
.form input {
  font-size: 1em;
  font-family: Avenir;
  background-color: #c4c4c4;
  padding: 1em 0.66em;
  width: 100%;
  border: 5px solid #c1d6c6;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0.35em;
  outline: none;
}
.form label {
  font-size: 18px;
  font-family: Avenir;
}
.form .button {
  display: flex;
  justify-content: center;
}
.form button {
  font-size: 1.15em;
  font-weight: bold;
  margin: 1.3em 0;
  padding: 0.66em 1em;
  width: 50%;
  border: 0;
  border-radius: 0.35em;
  background-color: #b6d6d0;
}
.form button:hover {
  color: grey;
}
.info {
  text-align: center;
  background-color: #b6d6d0;
  font-size: 18px;
  width: 100;
}
::-webkit-input-placeholder {
  text-align: center;
}
.upload-div{
  background: #ffffff;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1200px;
  height: 700px;
  margin-top: 2em;
  text-align: center;
  display: flex;
  color: #000000;
  border-radius: 1em;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, .5);
}
.form-logo-box{
  width: 45%;
  background: #c1d6c6;
  padding: 90px 0;
  border-radius: 1em;
  border-right: 5px solid rgba(30, 30, 30, .8);  
}
.fact-box{
  font-size: 18px;
  font-family: Avenir;
  margin: 0 em;
  border-radius: 1em;
  background-color: #d6c1c3;
	display: flex;
	width: 80%;
}
.myForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form{
  width: 70%;
  padding: 30px 0;
  transition: .2s;
}

/*for videolist*/
.videos-container {
  
}
.video-box{
  border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	max-width: 100%;
	margin: 20px;
	overflow: hidden;
	width: 1380px;
}
.video-box h2 {
  font-family: Avenir;
	letter-spacing: 1px;
	margin: 25px 0;
}
.video-box p {
  font-family: Avenir;
	letter-spacing: 1px;
	margin: 5px 0;
}
.video-preview{
  background-color: #b6d6d0;
	padding: 30px;
	max-width: 400px;
}
.video-info{
  padding: 30px;
	position: relative;
	width: 100%;
}
.video-info-container{
  position: relative;
	top: 30px;
	left: 60px;
	text-align: left;
	width: 150px;
}
