<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title BlockVidAuth
    body
        form(action='/upload-video' method='POST' enctype='multipart/form-data')
            input(type='file' name='videoFile')
            br
            input(type="text" name='title' placeholder='video title')
            br
            input(id="userAddress" type="hidden" name='userAddress')
            br
            br
            button(type='submit') Upload
        script.
            const loadAccount = () => {
                ethereum.request({ method: 'eth_requestAccounts' })
                .then(userAddress => {
                    document.getElementById("userAddress").value = userAddress;
                })
                .catch((error) => {
                    if (error.code === 4001) {
                    // EIP-1193 userRejectedRequest error
                        console.log('Please connect to MetaMask.');
                    } else {
                        console.error(error);
                    }
                });
            }

            window.onload = loadAccount;
            ethereum.on('accountsChanged', loadAccount);
